@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply bg-white text-slate-900;
    font-family: Quicksand, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
  }
  html.dark {
    @apply bg-black text-white;
  }
  body {
    @apply min-h-screen bg-inherit text-inherit;
  }
}

@import "./custom.css";

/* .dark {
  background-color: #000000;
  color: #ffffff;
} */